<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!--注释-->
	
	<!--将配置文件放在项目目录下, 运行时, 读取app.config文件-->
	<!--将应用程序中是由的所有的配置信息,都可以通过配置文件配置,当路径变动时, 只需修改配置文件, 不需要修改代码-->
	<!--
server 数据库服务的名称  .  localhost  127.0.0.1  192.168.xxx.xxx 标识本机
, 后面是端口号   sqlserver 默认的端口号 1433  可以省略  ip,端口  
 如果当前连接的是本机的数据库服务,并且当前端口号是 1433 可以简化成 .
database 数据库服务中 数据库的名称


验证方式  Sqlserver 身份验证  Windows 身份验证

 Sqlserver 身份验证: uid 管理   sa ===> super administrator 超级管理员 pwd  密码
 例如: server =  ; database  =  ; uid= ; pwd = ;


Windows 身份验证
例如: Server =    ; Database  = ;   User Id =   ;  Password =   ;

-->
	
<appSettings>
	<add key="connString1" value="server=.;database=Test;uid=root;pwd=root;"/>
	<!--
    Data Source  数据源  数据库的来源  来源于哪个数据库服务
    Initial Catalog 数据库服务中的某个数据库
    Integrated Security=True;Trust Server Certificate=True 信任证书
    -->
	<add key="connString3" value="Data Source=ZC\SQLEXPRESS;Initial Catalog=db_first;Integrated Security=True;Trust Server Certificate=True"/>
	
	

</appSettings>
	<connectionStrings>
		<!-- 连接字符串的常规写法  推荐-->
		<add name="connString2" connectionString="server=.;database=Test;uid=root;pwd=root;"></add>
	</connectionStrings>
</configuration>