<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!--注释 appSettings 节点 用来配置引用程序-->
	<appSettings>
		<!--<app/> : 单标签 用来添加一个配置项-->
		<!--appconfig 应用序配置文件 所有可以添加一个相应的配置文件 -->
		<!--在C#中通过代码读取相应的配置项-->
		<add key="IniFilePath" value="D:\Microsoft Visual Studio\XiangMu\Winfrom\读写文件区\3abc.ini" />
		<!--<add key="AppPath" value="D:\Demo" />-->
	</appSettings>
</configuration>