<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Model" value="D:\Microsoft Visual Studio\XiangMu\Winfrom\2026-07-31\周六练习\个人信息收集\Model\bin\Debug\Model.dll" />
	</appSettings>
</configuration>